<%
  @title = 'Mon compte'
  @breadcrumb = [['/', 'Accueil'], ['/account', @title]]
%>

<div id="contentfull">

<h2><%= @title %></h2>

<ul class="simplelist">
  <li><a href="/user/me">Mon profil</a></li>
  <li><a href="/account/contact">Mes coordonnées</a></li>
  <li><a href="/account/contacts">Personnes à prevenir en cas de nécessité</a> <strong>Obligatoire pour les mineurs !</strong></li>
  <li><a href="http://auth.jevck.com">Changer mon mot de passe</a></li>
</ul>

<hr class="clear" />
</div>

