<%
  @title = "Admin"
  @breadcrumb = [['/', 'Accueil'], ['/admin', @title]]
%>

<div id="contentfull">

<h2>Intranet Admin</h2>

<ul class="simplelist">
  <li><a href="/admin/users">Gestion des utilisateurs</a></li>
  <li><a href="/admin/stats">Statistiques adhérents</a></li>
</ul>

<hr class="clear" />
</div>

