<%
  @title = "Admin"
  @breadcrumb = [['/', 'Accueil'], ['/admin', @title]]
%>

<h2>Intranet Admin</h2>

<ul>
<li><a href="/admin/users">Gestion des adhérents</a></li>
<li><a href="/admin/stats">Statistiques adhérents</a></li>
</ul>

