<%
  @title = 'Page non trouvée'
  @breadcrumb = [['/', 'Accueil'], [nil, @title]]
%>

<div id="contentfull">

<h2><%= @title %></h2>

<p>Désolé, la page que vous recherchez n'existe pas (ou plus ?)</p>

<p>Nous vous invitons à retourner à <a href="/">la page d'accueil</a></p>

<img src="/images/util/404.jpg" />

<hr class="clear" />
</div>

