<%
  @title = 'Une erreur est survenue'
  @breadcrumb = [['/', 'Accueil'], [nil, @title]]
%>

<div id="contentfull">

<h2><%= @title %></h2>

<p>Une erreur technique est survenue, merci de ré-essayer plus tard...</p>

<img src="/images/util/500.jpg" />

<hr class="clear" />
</div>

