<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta name="description" content="" />
  <meta name="keywords" content="" />
  <meta name="author" content="Joinville Eau Vive" />
  <meta name="language" content="fr" />
  <script type="text/javascript" src="/javascripts/jquery-1.3.2.min.js"></script>
  <script type="text/javascript" src="/javascripts/jev.js"></script>
  <link rel="stylesheet" type="text/css" href="/stylesheets/jev.css" title="jev" media="screen,projection" />
  <title>Intranet JEV - <%= @title %></title>
</head>

<body>

<div id="wrap">
  <div id="header">
    <div id="sitelogo">
      <a href="/"><img src="/images/jev/logo_jev.png" alt="Logo JEV" /></a>
    </div>
    <div id="sitetitle">
      <h1><a href="/">Joinville Eau Vive</a></h1>
      <h2>INTRANET</h2>
      <img src="/images/jev/header_jevck.png" alt="Entête jevck.com" />
    </div>
    <div id="mainmenu">
      <dl class="nav">
        <dt><a href=""><%= @me.name %></a></dt>
        <dd><a href="">Mon compte</a></dd>
        <dd><a href="">Mes cotisations</a></dd>
        <dd><a href="">Mes dettes</a></dd>
        <dd><a href="">&nbsp;</a></dd>
      </dl>
      <dl class="nav">
        <dt><a href="">Ressources</a></dt>
        <dd><a href="">Adhérents</a></dd>
        <dd><a href="">Pagaies couleurs</a></dd>
        <dd><a href="">&nbsp;</a></dd>
        <dd><a href="">&nbsp;</a></dd>
      </dl>
      <dl class="nav">
        <dt><a href="">Services</a></dt>
        <dd><a href="">Redmine</a></dd>
        <dd><a href="">Partage de fichiers</a></dd>
        <dd><a href="">Inventaire</a></dd>
        <dd><a href="">&nbsp;</a></dd>
      </dl>
    </div>
    <div id="submenu">
      <ul>
        <li class="first"><a href="/contact"><strong>Contact</strong></a></li>
        <li><a href="/recherche">Recherche</a></li>
        <li><a href="/plan">Plan du site</a></li>
        <li><a href="/rss/news"><img src="/images/icons/rss.png" alt="Flux RSS du blog" /></a></li>
        <li><a href="http://twitter.com/jevck"><img src="/images/icons/twitter.png" alt="Twitter" /></a></li>
        <li><a href="http://www.facebook.com/group.php?gid=154482522366"><img src="/images/icons/facebook.png" alt="Facebook" /></a></li>
        <li><a href="/"><img src="/images/icons/flags/fr.png" alt="Français" /></a></li>
        <li><a href="/english"><img src="/images/icons/flags/en.png" alt="English" /></a></li>
      </ul>
    </div>
    <hr class="clear" />
  </div>

  <div id="breadcrumb">
  </div>

  <%= yield %>
 
  <hr class="clear" />
</div>

</body>
</html>
