<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta name="description" content="" />
  <meta name="keywords" content="" />
  <meta name="author" content="Joinville Eau Vive" />
  <meta name="language" content="fr" />
  <script type="text/javascript" src="/javascripts/jquery-1.4.2.min.js"></script>
  <script type="text/javascript" src="/javascripts/jquery.ui.core-1.8rc2.min.js"></script>
  <script type="text/javascript" src="/javascripts/jquery.ui.datepicker-1.8rc2.min.js"></script>
  <script type="text/javascript" src="/javascripts/jquery.ui.datepicker-fr-1.8rc2.min.js"></script>
  <script type="text/javascript" src="/javascripts/jquery.dataTables-1.6.1.min.js"></script>
  <script type="text/javascript">
    if(typeof Intranet == "undefined") { var Intranet = {}; }
  </script>
  <style type="text/css" title="jev">
    @import "/stylesheets/jev.css";
    @import "/stylesheets/jquery-ui-1.7.2.custom.css";
  </style>
  <title>Intranet JEV - <%= @title %></title>
</head>

<body>

<div id="intranet"></div>

<div id="wrap">
  <div id="header">
    <div id="sitelogo">
      <a href="/"><img src="/images/jev/logo_jev.png" alt="Logo JEV" /></a>
    </div>
    <div id="sitetitle">
      <h1><a href="/">Joinville Eau Vive</a></h1>
      <h2>INTRANET</h2>
      <img src="/images/jev/header_intranet.png" alt="Entête jevck.com" />
    </div>
    <div id="mainmenu">
      <dl class="nav">
        <dt><a href="/user/me"><span id="current_user_name"><img src="/images/icons/load.gif" alt="Chargement en cours..." />&nbsp;Chargement...</span></a></dt>
        <dd><a href="/account">Mon compte</a></dd>
        <dd><a href="/subscription">Mes cotisations</a></dd>
        <dd><a href="/events/participations/mine">Mes participations</a></dd>
        <dd><a href="/posts/mine">Mes messages</a></dd>
      </dl>
      <script type="text/javascript">
        //<![CDATA[
        $(document).ready(function() {
          $.getJSON('/account.json', function(user) {
            Intranet.current_user = user;
            $('#intranet').trigger('current_user-loaded');
          });
        });
        $('#intranet').bind('current_user-loaded', function(e) {
          $('#current_user_name').html(Intranet.current_user.display_name);
        });
        //]]>
      </script>
      <dl class="nav">
        <dt><a href="/resources">Ressources</a></dt>
        <dd><a href="/users">Annuaire adhérents</a></dd>
        <dd><a href="/posts">Messages</a></dd>
        <dd><a href="/events">Evènements</a></dd>
        <dd><a href="/paddle_pass">Pagaies couleurs</a></dd>
      </dl>
      <dl class="nav">
        <dt><a href="/services">Services</a></dt>
        <dd><a href="/redmine">Redmine</a></dd>
        <dd><a href="/">Partage de fichiers</a></dd>
        <dd><a href="/inventory">Inventaire</a></dd>
      </dl>
    </div>
    <div id="submenu">
      <ul>
        <li class="first"><a href="http://www.jevck.com"><strong>Site Internet</strong></a></li>
        <li><a href="/admin">Admin</a></li>
        <li><a href="/about">A propos</a></li>
        <li><a href="/logout">Déconnexion</a></li>
      </ul>
    </div>
    <hr class="clear" />
  </div>

  <div id="breadcrumb">
    <%= @breadcrumb.map { |path, title| "<a href=\"#{path}\" title=\"#{title}\">#{title}</a>" }.join(" > ") %>
  </div>

  <%= yield %>
 
  <hr class="clear" />
</div>

</body>
</html>
