<%
  @title = 'Pagaies couleurs'
  @breadcrumb = [['/', 'Accueil'], ['/paddle-pass', @title]]
%>

<div id="contentfull">

<h2><%= @title %></h2>

<ul class="simplelist">
  <li>
    <a href="/paddle-pass/docs/fiches/">Accès aux fiches "Pagaies couleurs"</a>
  </li>
</ul>

<hr class="clear" />
</div>

