<%
  @title = "Demande d'adhésion à l'association Joinville Eau Vive"
  @breadcrumb = [['/', 'Accueil'], ['/registration', @title]]
%>

<div id="contentfull">

<h2><%= @title %></h2>

<h3><%= @name %></h3>

<p>Nous avons bien reçu votre demande d'adhésion. Celle-ci sera effective lorsque nous aurons reçu le paiement de votre cotisation.</p>

<p>En attendant, vous pouvez vous connecter sur l'intranet de JEV en utilisant l'identifiant <strong><%= @uid %></strong>.</p>

<p>N'hésitez pas à <a href="http://www.jevck.com/contact">nous contacter</a>, et à bientôt au club !</p>

<hr class="clear" />
</div>

