<%
  @title = "Demande d'adhésion à l'association Joinville Eau Vive"
  @breadcrumb = [['/', 'Accueil'], ['/registration', @title]]
%>

<div id="contentfull">

<h2><%= @title %></h2>

<h3><%= @name %></h3>

<p>Nous avons bien reçu votre demande d'adhésion. Celle-ci sera effective lorsque nous aurons reçu le paiement de votre cotisation.</p>

<p>Votre identifiant de connexion sur l'<a href="http://intranet.jevck.com">intranet de JEV</a> est : <strong><%= @uid %></strong></p>

<% if @mail.empty? %>
  <p>Vous n'avez pas fourni d'adresse e-mail ! Notez bien votre identifiant !</p>
<% else %>
  <p>Nous venons de vous envoyer un mail avec votre identifiant et votre mot de passe.</p>
<% end %>

<p>En attendant, nous vous conseillons de vous inscrire sur nos <a href="http://www.jevck.com/adherents/listes_de_discussion">listes de discussion</a> pour vous tenir au courant des infos club.</p>

<p>N'hésitez pas à <a href="http://www.jevck.com/contact">nous contacter</a>, et à bientôt au club !</p>

<hr class="clear" />
</div>

