<%
  @title = 'Services'
  @breadcrumb = [['/', 'Accueil'], ['/services', @title]]
%>

<div id="contentfull">

<h2><%= @title %></h2>

<ul class="simplelist">
  <li>
    <a href="/redmine">Redmine</a>
  </li>
  <li>
    <a href="/">Partage de fichiers</a>
  </li>
  <li>
    <a href="/inventory">Inventaire</a>
  </li>
</ul>

<hr class="clear" />
</div>

