<%
  @title = 'Services'
  @breadcrumb = [['/', 'Accueil'], ['/services', @title]]
%>

<div id="contentfull">

<h2><%= @title %></h2>

<h3>Services accessibles à tous les adhérents</h3>

<ul class="simplelist">
  <li>
    <a href="/files">Partage de fichiers</a>
  </li>
</ul>

<h3>Services restreints</h3>

<ul class="simplelist">
  <li>
    <a href="/redmine/wiki/jev">Wiki</a>
  </li>
  <li>
    <a href="/inventaire">Inventaire du matériel club</a>
  </li>
</ul>

<hr class="clear" />
</div>

