/***
Body
***/

* {
  margin: 0;
  padding: 0;
}
body {
  background: #A4BEDB none repeat-x scroll left top;
  color: #EEEEEE;
  font-family: Verdana, Arial, Tahoma, "Trebuchet MS", sans-serif;
  font-size: 76%;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1.4em;
  padding: 0;
  text-align: center;
}
#wrap {
  background-color: #FFFFFF;
  border: 1px solid #555555;
  color: #555555;
  margin: 10px auto 10px;
  padding: 10px;
  text-align: left;
  width: 960px;
}
#top {
  color: #DDDDDD;
  font-size: 0.9em;
  margin: 10px auto 5px;
  text-align: right;
  width: 960px;
}
#top p {
  margin: 2px;
  padding: 0;
}
#top a {
  border-bottom: 1px dotted #AAAAAA;
  color: #EEEEEE;
}
#top a:hover {
  border-bottom: 1px dotted #FFFFFF;
  color: #FFFFFF;
  text-decoration: none;
}

/***************
Header and title
***************/

#header {
  margin: 0 0 0 0;
  padding: 0;
  text-align: left;
  border-bottom: 1px solid #CCCCCC;
}
#sitelogo {
  float: left;
  width: 150px;
}
#sitetitle {
  float: left;
  width: 300px;
}
#sitetitle h1 {
  font-size: 2.2em;
  font-weight: 700;
  line-height: 0.9em;
  margin: 5px 0 10px 30px;
  padding: 0;
}
#sitetitle h1 a {
  font-weight: 700;
}
#sitetitle h2 {
  font-size: 1.8em;
  letter-spacing: 5px;
  margin: 10px 0 10px 80px;
  padding: 0;
}

/********
Main menu
********/

#mainmenu {
  float: right;
  margin: 0;
  width: 460px;
}
dl.nav {
  float: left;
  margin: 0 0 5px 10px;
  width: 140px;
}
dl.nav dt {
  border-bottom: 1px solid #AAAAAA;
  color: #777777;
  font-weight: 700;
  margin: 0;
  padding: 0;
}
dl.nav dt a {
  color: #777777;
  font-weight: 700;
}
dl.nav dt a:hover {
  color: #222222;
}
dl.nav dd {
  border-bottom: 1px solid #CCCCCC;
  margin: 0;
  padding: 0;
}
dl.nav dd a {
  color: #4D699D;
  display: block;
  font-weight: 400;
  padding: 1px 0 1px 5px;
  width: 135px;
}
dl.nav dd a:hover {
  background: #F4F4F4 none repeat scroll 0%;
  color: #222222;
}

/*******
sub menu
*******/

#submenu {
  float: right;
  margin: 20px 10px 0 0;
}
#submenu ul {
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#submenu ul li {
  display: block;
  float: left;
  margin: 0;
  padding: 0 5px;
  font-size: 80%;
  border-left: solid 1px #AAAAAA;
}
#submenu ul li.first {
  border-left: none;
}
#submenu a {
  display: block;
}
#submenu a:hover {
  background: #F4F4F4 none repeat scroll 0%;
}

/*********
Breadcrumb
*********/

#breadcrumb {
  font-size: 80%;
}

/******
Headers
******/

h2,h3,h4,h4 a {
  color: #666666;
  font-weight: 700;
  margin: 0 0 14px 0;
  padding-bottom: 5px;
}

/******
Content
******/

#contentfull {
  float: left;
  margin: 20px 0 0 0;
  text-align: left;
  width: 100%;
}
#content {
  float: left;
  margin: 20px 0 0 0;
  text-align: left;
  width: 700px;
}
#content h2, #contentfull h2 {
  border-bottom: 2px solid #CCCCCC;
  clear: left;
  font-size: 1.7em;
}
#content h3, #contentfull h3 {
  font-size: 1.4em;
  font-weight: normal;
  font-style: italic;
  padding: 8px 0 2px 10px;
}
#content h2 a, #content h3 a, #contentfull h2 a, #contentfull h3 a {
  font-weight: 700;
}
#content p, #contentfull p {
  margin: 0 0 15px 0;
}
#content a, #contentfull a {
  border-bottom: 1px dotted #888888;
}
#content a:hover, #contentfull a:hover {
  border-bottom: 1px dotted #000000;
  color: #222222;
}
ul, ol, ul, ol {
  margin: 0 0 15px 10px;
  padding: 0 0 0 10px;
}
ul li, ol li, ul li, ol li {
  margin: 0 0 10px 10px;
}
#content ul ul, #content ol ol, #contentfull ul ul, #contentfull ol ol {
  margin: 5px 0 5px 10px;
}
#content dl {
}
#content dl dt {
  margin: 20px 0 5px 10px;
  font-weight: bold;
}
#content dl dd {
}

/*******
msgbox
*******/

.msgbox {
  border: 1px solid #CCCCCC;
  margin: 15px 0;
  padding: 10px 10px 10px 30px;
  text-align: left;
  width: 660px;
}
.msgbox a {
  font-weight: bold;
}
.msginfo {
  background: #F0F0F0 url(../images/icons/msginfo.png) no-repeat scroll 8px;
  color: #336699;
}
.msgwarning {
  background: #F0F0F0 url(../images/icons/msgwarning.png) no-repeat scroll 8px;
  color: #CC8822;
}
.msgerror {
  background: #F0F0F0 url(../images/icons/msgerror.png) no-repeat scroll 8px;
  color: #FF0000;
}

/******
Sidebox
******/

.sidebox {
  background: #F0F0F0 none repeat scroll 0%;
  border: 1px solid #CCCCCC;
  margin: 20px 0 10px 717px;
  padding: 10px 10px 5px 10px;
  text-align: left;
  width: 215px;
}
.sidebox h2, .sidebox h3 {
  border-bottom: 2px solid #CCCCCC;
  font-size: 1.4em;
  margin: 0 0 10px 0;
  padding: 0 0 2px 0;
}
.sidebox h2 a {
  font-weight: bolder;
}
.sidebox p {
  margin: 0 0 10px 0;
  padding: 0;
}
.sidebox a {
}
.sidebox ul li {
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  margin: 0 0 6px 0;
}
.sidebox ul li a {
  border-bottom: 1px dotted #888888;
  font-size: 1.1em;
}
.sidebox ul li a.title {
  font-weight: bold;
  margin: 0 0 0 10px;
}
.sidebox ul li span.title a.title {
  margin: 0 0 0 0;
}
.sidebox ul li span.title {
  font-weight: bold;
  margin: 0 0 0 10px;
}
.sidebox ul li span.date {
  font-style: italic;
}
.sidebox ul ul {
  font-size: 1em;
  margin: 3px 0 3px 10px;
}
.sidebox ul ul li {
  margin: 2px 0;
}
.sidebox ul ul li a {
  font-weight: 400;
}

/*******
Sidemenu
*******/

.sidebox ul.sidemenu li {
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  margin: 0 0 2px 0;
  padding: 0;
  width: 218px;
}
.sidebox ul.sidemenu li a {
  background-color: #F4F4F4;
  border: 1px solid #DDDDDD;
  display: block;
  font-size: 1.1em;
  font-weight: 400;
  overflow: visible;
  padding: 2px 0 2px 5px;
}
.sidebox ul.sidemenu li a:hover, .sidebox ul.sidemenu li.current a:hover, .sidebox ul li.current a {
  background-color: #FFFFFF;
  border: 1px solid #555555;
  color: #444444;
}
.sidebox ul.sidemenu li.current li a {
  background-color: #F8F8F8;
  border-color: #DDDDDD rgb(221, 221, 221) rgb(204, 204, 204);
  border-style: solid;
  border-width: 1px;
  color: #467AA7;
}
.sidebox ul.sidemenu ul {
  margin: 0;
  padding: 2px 0 0pt 15px;
}
.sidebox ul.sidemenu ul li {
  letter-spacing: 0;
  width: 203px;
}
.sidebox ul.sidemenu ul li a {
  font-size: 0.9em;
  padding: 1px 0 1px 5px;
}
.sidebox ul.sidemenu ul li ul li {
  letter-spacing: 0;
  width: 188px;
}

/***********
Floating box
***********/

.floatingbox {
  width: 200px;
  background-color: #EEEEEE;
  border: 1px solid #333333;
  margin: 4px;
  padding: 4px;
}

/****
Table
****/

table.nicetable th {
  font-weight: bold;
  color: #6D929B;
  border-right: 1px solid #C1DAD7;
  border-bottom: 1px solid #C1DAD7;
  border-top: 1px solid #C1DAD7;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: left;
  padding: 6px 6px 6px 12px;
  background-color: #CAE8EA;
}

table.nicetable tbody th {
  font-size: 0.9em;
  border-left: 1px solid #C1DAD7;
  border-top: 0;
  text-transform: none;
}

table.nicetable tbody td {
  border-right: 1px solid #C1DAD7;
  border-bottom: 1px solid #C1DAD7;
  padding: 6px 6px 6px 12px;
}

table.nicetable tbody tr.odd th {
  background-color: #DBFAFA;
}

table.nicetable tbody tr.odd td {
  background-color: #DBFAFA;
  color: #B4AA9D;
}

table.nicetable tbody tr.even th {
  background-color: #FFFFFF;
}

table.nicetable tbody tr.even td {
  background-color: #FFFFFF;
  color: #6D929B;
}

/***
Form
***/

.simpleform {
  border: solid 2px #b7ddf2;
  background: #ebf4fb;
  padding: 10px;
}
.simpleform label {
  display: block;
  font-weight: bold;
  margin-bottom: 10px;
}
.simpleform .labeltip {
  color: #666666;
  display: inline;
  font-size: 11px;
  font-weight: normal;
  margin-left: 5px;
}
.simpleform input, .simpleform select, .simpleform textarea {
  display: inline;
  font-size: 12px;
  padding: 4px 2px;
  border: solid 1px #aacfe4;
}
.simpleform input[readonly], .simpleform select[readonly] {
  background-color: #dcdcdc;
}
.simpleform button {
  display: inline;
  width: 125px;
  height: 31px;
  border: 0;
  background: #666666 url(../images/util/button.png) no-repeat;
  text-align: center;
  line-height: 31px;
  color: #FFFFFF;
  font-size: 11px;
  font-weight: bold;
  margin-left: 15px;
  position: absolute;
}

.niceform {
  float: left;
  margin: 0 24px;
  width: 400px;
  padding: 14px;
  border: solid 2px #b7ddf2;
  background: #ebf4fb;
}

.niceform h3 {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 8px;
}

.niceform h4 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.niceform p {
  font-size: 11px;
  color: #666666;
  margin-bottom: 20px;
  border-bottom: solid 1px #b7ddf2;
  padding-bottom: 10px;
}

.niceform label {
  display: block;
  font-weight: bold;
  text-align: right;
  width: 140px;
  float: left;
}

.niceform .labeltip {
  color: #666666;
  display: block;
  font-size: 11px;
  font-weight: normal;
  text-align: right;
  width: 140px;
}

.niceform input, .niceform select, .niceform textarea {
  float: left;
  font-size: 12px;
  padding: 4px 2px;
  border: solid 1px #aacfe4;
  width: 200px;
  margin: 2px 0 20px 10px;
}

.niceform input[readonly], .niceform select[readonly] {
  background-color: #dcdcdc;
}

.niceform .ui-datepicker-trigger {
  float: left;
  margin: 5px 0px 5px 5px;
}

.niceform .input-action {
  float: left;
  margin: 5px 0px 5px 5px;
  cursor: pointer;
  color: #4D699D;
  font-weight: 400;
}

.niceform .input-action:hover {
  color: #444444;
}

.niceform .action {
  clear: both;
  float: left;
  margin-bottom: 10px;
  cursor: pointer;
  color: #4D699D;
  font-weight: 400;
}

.niceform .action:hover {
  color: #444444;
}

.niceform .action img {
  margin-right: 5px;
}

#contentfull .niceform a {
  border-bottom: 0;
}

.niceform .separator {
  clear: both;
  height: 1px;
  border-top: solid 1px #b7ddf2;
  margin-bottom: 20px;
}

.niceform span.tip {
  color: #666666;
  font-size: 11px;
  font-weight: normal;
  text-align: right;
  float: right;
}

.niceform button {
  clear: both;
  margin-left: 150px;
  width: 125px;
  height: 31px;
  border: 0;
  background: #666666 url(../images/util/button.png) no-repeat;
  text-align: center;
  line-height: 31px;
  color: #FFFFFF;
  font-size: 11px;
  font-weight: bold;
}

/****
Posts
****/

ol.posts {
  list-style: none;
  margin: 20px 0;
  padding: 0;
}
ol.posts li.post {
  border-bottom: 1px solid #EEE;
  line-height: 16px;
  padding: 10px 0px 8px;
  margin: 0;
  display: list-item;
}
ol.posts li.post span.icon {
  display: block;
  height: 50px;
  width: 50px;
  margin: 0 10px 0 5px;
  overflow: hidden;
  position: absolute;
}
ol.posts li.post span.content {
  display: block;
  min-height: 46px;
  margin-left: 65px;
  overflow: visible;
}
ol.posts li.post span.content span.post-id {
  display: none;
  visibility: hidden;
}
ol.posts li.post span.content span.user-id {
  display: none;
  visibility: hidden;
}
ol.posts li.post span.content span.user {
  font-weight: bolder;
  font-size: 14px;
  margin-right: 5px;
}
ol.posts li.post span.content span.text {
}
ol.posts li.post span.content span.date {
  display: block;
  color: #999;
  margin-top: 2px;
}

/*********
Pagination
*********/

.pagination li {
  border: 0;
  margin: 0;
  padding: 0;
  font-size: 11px;
  list-style: none;
  margin-right: 2px;
}
#content .pagination a {
  border: solid 1px #9aafe5;
  margin-right: 2px;
}
.pagination .previous-off, .pagination .next-off {
  border: solid 1px #DEDEDE;
  color: #888888;
  display: block;
  float: left;
  font-weight: bold;
  margin-right: 2px;
  padding: 3px 4px;
}
#content .pagination .next a, .pagination .previous a {
  font-weight: bold;
}
.pagination .active {
  background: #2e6ab1;
  color: #FFFFFF;
  font-weight: bold;
  display: block;
  float: left;
  padding: 4px 6px;
}
#content .pagination a:link, .pagination a:visited {
  color: #0e509e;
  display: block;
  float: left;
  padding: 3px 6px;
  text-decoration: none;
}
#content .pagination a:hover {
  border: solid 1px #0e509e;
}

/****
Links
****/

a {
  color: #4D699D;
  font-weight: 400;
  text-decoration: none;
}
a:hover {
  color: #444444;
  text-decoration: none;
}
a img {
  border: 0 none;
}

/**************
Various classes
**************/

.left {
  float: left;
  text-align: left;
  margin-right: 10px;
}
.right {
  float: right;
  text-align: right;
  margin-left: 10px;
}
.textleft {
  text-align: left;
}
.textright {
  text-align: right;
}
.textcenter {
  text-align: center;
}
.textjustify {
  text-align: justify;
}
.introtext, .introtext a {
  font-weight: 700;
}
.fullwidth {
  width: 100%;
}
.clear {
  clear: both;
  height: 1px;
  visibility: hidden;
}
.spacer {
  clear: both;
  height: 1px;
}
.hide {
  display: none;
}

/*****************
JQuery UI & Tables
*****************/

/*
 * jQuery UI specific styling
 */

.paging_two_button .fg-button {
  float: left;
  cursor: pointer;
  * cursor: hand;
}

.paging_full_numbers .fg-button {
  padding: 2px 6px;
  cursor: pointer;
  * cursor: hand;
}

.paging_full_numbers {
  width: 350px !important;
}

.fg-toolbar {
  padding: 5px;
}

.dataTables_paginate {
  width: auto;
}

table.display thead th {
  padding: 3px 0px 3px 10px;
  cursor: pointer;
  * cursor: hand;
}

/*
 * DataTables features
 */

.dataTables_wrapper {
  position: relative;
  min-height: 302px;
  _height: 302px;
  clear: both;
}

.dataTables_processing {
  position: absolute;
  top: 0px;
  left: 50%;
  width: 250px;
  margin-left: -125px;
  border: 1px solid #ddd;
  text-align: center;
  color: #999;
  font-size: 11px;
  padding: 2px 0;
}

.dataTables_length {
  width: 40%;
  float: left;
}

.dataTables_filter {
  width: 50%;
  float: right;
  text-align: right;
}

.dataTables_info {
  width: 50%;
  float: left;
}

.dataTables_paginate {
  float: right;
  text-align: right;
}

/* Pagination nested */
.paginate_disabled_previous, .paginate_enabled_previous, .paginate_disabled_next, .paginate_enabled_next {
  height: 19px;
  width: 19px;
  margin-left: 3px;
  float: left;
}

.paginate_disabled_previous {
  background-image: url('../images/icons/back_disabled.jpg');
}

.paginate_enabled_previous {
  background-image: url('../images/icons/back_enabled.jpg');
}

.paginate_disabled_next {
  background-image: url('../images/icons/forward_disabled.jpg');
}

.paginate_enabled_next {
  background-image: url('../images/icons/forward_enabled.jpg');
}

/*
 * DataTables display
 */
table.display {
  margin: 0 auto;
  width: 100%;
  clear: both;
}

table.display tfoot th {
  padding: 3px 10px;
  border-top: 1px solid black;
  font-weight: bold;
}

table.display tr.heading2 td {
  border-bottom: 1px solid #aaa;
}

table.display td {
  padding: 3px 10px;
}

table.display td.center {
  text-align: center;
}

/* 
 * DataTables sorting
 */

.sorting_asc {
  background: url('../images/icons/sort_asc.png') no-repeat center right;
}

.sorting_desc {
  background: url('../images/icons/sort_desc.png') no-repeat center right;
}

.sorting {
  background: url('../images/icons/sort_both.png') no-repeat center right;
}

/*
 * DataTables row classes
 */
table.display tr.odd.gradeA {
  background-color: #ddffdd;
}

table.display tr.even.gradeA {
  background-color: #eeffee;
}

table.display tr.odd.gradeA {
  background-color: #ddffdd;
}

table.display tr.even.gradeA {
  background-color: #eeffee;
}

table.display tr.odd.gradeC {
  background-color: #ddddff;
}

table.display tr.even.gradeC {
  background-color: #eeeeff;
}

table.display tr.odd.gradeX {
  background-color: #ffdddd;
}

table.display tr.even.gradeX {
  background-color: #ffeeee;
}

table.display tr.odd.gradeU {
  background-color: #ddd;
}

table.display tr.even.gradeU {
  background-color: #eee;
}


tr.odd {
  background-color: #E2E4FF;
}

tr.even {
  background-color: white;
}

/*
 * Misc
 */
.top, .bottom {
  padding: 15px;
  background-color: #F5F5F5;
  border: 1px solid #CCCCCC;
}

.top .dataTables_info {
  float: none;
}

.clear {
  clear: both;
}

.dataTables_empty {
  text-align: center;
}

tfoot input {
  margin: 0.5em 0;
  width: 100%;
  color: #444;
}

tfoot input.search_init {
  color: #999;
}

td.group {
  background-color: #d1cfd0;
  border-bottom: 2px solid #A19B9E;
  border-top: 2px solid #A19B9E;
}

td.details {
  background-color: #d1cfd0;
  border: 2px solid #A19B9E;
}


.example_alt_pagination div.dataTables_info {
  width: 40%;
}

.paging_full_numbers span.paginate_button,
   .paging_full_numbers span.paginate_active {
  border: 1px solid #aaa;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  padding: 2px 5px;
  margin: 0 3px;
  cursor: pointer;
  *cursor: hand;
}

.paging_full_numbers span.paginate_button {
  background-color: #ddd;
}

.paging_full_numbers span.paginate_button:hover {
  background-color: #ccc;
}

.paging_full_numbers span.paginate_active {
  background-color: #99B3FF;
}

table.display tr.even.row_selected td {
  background-color: #B0BED9;
}

table.display tr.odd.row_selected td {
  background-color: #9FAFD1;
}


/*
 * Sorting classes for columns
 */
/* For the standard odd/even */
tr.odd td.sorting_1 {
  background-color: #D3D6FF;
}

tr.odd td.sorting_2 {
  background-color: #DADCFF;
}

tr.odd td.sorting_3 {
  background-color: #E0E2FF;
}

tr.even td.sorting_1 {
  background-color: #EAEBFF;
}

tr.even td.sorting_2 {
  background-color: #F2F3FF;
}

tr.even td.sorting_3 {
  background-color: #F9F9FF;
}


/* For the Conditional-CSS grading rows */
/*
   Colour calculations (based off the main row colours)
  Level 1:
    dd > c4
    ee > d5
  Level 2:
    dd > d1
    ee > e2
 */
tr.odd.gradeA td.sorting_1 {
  background-color: #c4ffc4;
}

tr.odd.gradeA td.sorting_2 {
  background-color: #d1ffd1;
}

tr.odd.gradeA td.sorting_3 {
  background-color: #d1ffd1;
}

tr.even.gradeA td.sorting_1 {
  background-color: #d5ffd5;
}

tr.even.gradeA td.sorting_2 {
  background-color: #e2ffe2;
}

tr.even.gradeA td.sorting_3 {
  background-color: #e2ffe2;
}

tr.odd.gradeC td.sorting_1 {
  background-color: #c4c4ff;
}

tr.odd.gradeC td.sorting_2 {
  background-color: #d1d1ff;
}

tr.odd.gradeC td.sorting_3 {
  background-color: #d1d1ff;
}

tr.even.gradeC td.sorting_1 {
  background-color: #d5d5ff;
}

tr.even.gradeC td.sorting_2 {
  background-color: #e2e2ff;
}

tr.even.gradeC td.sorting_3 {
  background-color: #e2e2ff;
}

tr.odd.gradeX td.sorting_1 {
  background-color: #ffc4c4;
}

tr.odd.gradeX td.sorting_2 {
  background-color: #ffd1d1;
}

tr.odd.gradeX td.sorting_3 {
  background-color: #ffd1d1;
}

tr.even.gradeX td.sorting_1 {
  background-color: #ffd5d5;
}

tr.even.gradeX td.sorting_2 {
  background-color: #ffe2e2;
}

tr.even.gradeX td.sorting_3 {
  background-color: #ffe2e2;
}

tr.odd.gradeU td.sorting_1 {
  background-color: #c4c4c4;
}

tr.odd.gradeU td.sorting_2 {
  background-color: #d1d1d1;
}

tr.odd.gradeU td.sorting_3 {
  background-color: #d1d1d1;
}

tr.even.gradeU td.sorting_1 {
  background-color: #d5d5d5;
}

tr.even.gradeU td.sorting_2 {
  background-color: #e2e2e2;
}

tr.even.gradeU td.sorting_3 {
  background-color: #e2e2e2;
}


/*
 * Row highlighting example
 */
.ex_highlight #example tbody tr.even:hover, #example tbody tr.even td.highlighted {
  background-color: #ECFFB3;
}

.ex_highlight #example tbody tr.odd:hover, #example tbody tr.odd td.highlighted {
  background-color: #E6FF99;
}

